@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
	box-sizing: border-box;
	-moz-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	text-size-adjust: 100%;
}


*, *:before, *:after {
	box-sizing: inherit;
}

h1 {
  font-family: $lato;
  text-transform: uppercase;
  letter-spacing: 4px;
  font-size: 20px;
  color: $charcoal;
  text-align: center;
  line-height: 5rem;
}


body{
  font-family: sans-serif;
  background-color: $cream;
  @include zero;
  // Hides close button if there is no js
  &.noscript .close-btn, 
  &.noscript .toggle-btn{
      display: none;
  }
}

header {
  padding: 0 1em;
  position: relative;
  .toggle-btn{
    position: absolute;
    right: 1em;
    top: 0;
  }
}

.navigation ul{
  @include zero;
  li{
    list-style-type: none;
    a{
      display: block;
      padding: .5em 1em;
      text-align: center;
      border-bottom: 1px solid $light-grey;
      text-decoration: none;
      font-family: $lato;
      text-transform: uppercase;
      letter-spacing: 1px;
      font-size: 13px;
      line-height: 2rem;
      color: $charcoal;
    }
    &:first-child a{
      border-top: 1px solid $light-grey;
    }
    &:hover{
      background-color: $hover-cream;
    }
  } // li
} // .navigation ul

.toggle-btn, 
.close-btn{
  color: $charcoal;
  height: 40px;
  width: 40px; 
  /* i{
    border: 1px solid $light-grey;
    padding: .5em; 
  }
*/  span{ 
    @include hide-text;
  }
}

.close-btn{
  margin: 1em;
}

/**
 * Sliding Navigation
 */

// Page should move when nav opens
// only time we will ever use max-width
@media only screen and (max-width: 45em){ 
  .site-wrapper{
    position: relative;
    overflow: hidden;
    width: 100%;
    z-index: 100;
    .sliding-canvas{
      width: 100%;
      height: 100%;
      position: relative;
      transform: translateX(0);
      @include ease(all, 300ms, ease-in-out);
    }

    &[data-state='slide-open'] .sliding-canvas{
      transform: translateX(-100%);
    }

    &[data-state='slide-open']{
      // Allow expansion of navigation past page height, when open
      overflow:visible;
    }
  }

  // Nav styles
  .slide-menu{
    //creates sliding effect
    position: absolute;
    width: 100%;
    right: -100%;
    top: 0;
    bottom: 0;
    height: 100%;
    padding: 0;
    min-height: 800px;
  }

}

// Resets page when desktop, even if nav is toggled open
@media only screen and (min-width: 45em) {
  .toggle-btn, 
  .close-btn{
    display: none;
  }


 /* .navigation li{
    float: left;
    width: 25%;
    display: inline-block;
    margin-bottom: 0rem;
    border-bottom: 0px;
  } //.nav li*/

  .navigation ul{
  @include zero;
  li{
    list-style-type: none;
    margin: 0 auto;
    width: 60%;
    a{
      display: inline-block;
      float: left;
      border-bottom: none;
      width: 25%;
      
    }
    &:first-child a{
      border-top: none;
    } // first-child
    } // a
  } // navication ul
} // 60em



body.noscript .slide-menu{
  position: static;
  right: auto;
}

  
